  <div class="container mt-5">
    <div class="d-flex flex-column gap-2 ">
      <div class="alert alert-primary rounded-2 text-center">
        <h3>Fun For Nerds</h3>    
      </div>
      <app-input-form
      (partialOddWord)="onPartialWord($event)"
      (partialEvenWord)="onPartialWord($event)"
      (submittedWord)="onWord($event)"
      ></app-input-form>
    </div>

    <div class="d-flex justify-content-between gap-2 ">
      <div>
            <app-odd-length-words
            [partialOddWord] = "partialOddWord"
            [oddWords]="oddLengthWords"
            ></app-odd-length-words>
      </div>
  
      <div>
        <app-even-length-words
        [partialEvenWord] = "partialEvenWord"
        [evenWords]="evenLengthWords"
        ></app-even-length-words>
      </div>
    </div>
  </div>


